*{  
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/* --navber---Bonous Opsonal section */
 header{
    position: sticky;
    background: #e8e2e2;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgb(43, 41, 41) 2px 3px 15px 4px;
 }
 .logo-image{
    width: 55px;
    margin-left: 55px;
}
 header h1{
    margin-left: -305px;
 }
 header h1 span{
    color: #e24d3d;
 }
 .navber a{
    text-decoration: none;
    padding: 0 7px;
    font-size: 20px;
    font-weight: 300;
}
.image-icon{
    width: 30px;
}
.icons{
    margin-right: 20px;
}
.icons a img{
    margin: 0 7px;
}

/* banner section */
.banner{
    /* margin-top: 100px; */
    display: flex;
    justify-content: space-between;
    background-color: #e2d9db;
    /* padding: 150px 170px 0 170px; */
    padding: 15px 170px 0 170px;
}
.banner-image img{
    width: 450px;
    margin-bottom: -6px;
}
.banner-text{
    margin-top: 80px;
    max-width: 500px;
}
.banner-text h1{
    font-size: 55px;
    margin-bottom: 15px;
}
.banner-text p{
    color: #757575;
}
.banner-text h1 span{
    font-size: 55px;
    color: red;
}
.btn-primary{
    font-size: 20px;
    font-weight: 300;
    padding: 11px 18px;
    color: #fff;
    cursor: pointer;
    background-color: #ff6f61;
    border-radius: 4px;
    border: 0;
    outline: none;
    transform: 0.2s;
}
.btn-primary:hover{
    background: #088178;
    color: white;
    border: 0;
}
.banner-text button{
    margin-top: 30px;
}
      /* feature flower section */
.feature-section{
    text-align: center;
    margin-top: 80px;
}
.feature-section h1{
    font-size: 35px;
    margin-bottom: 20px;
}
.feature-section p{
    color: #757575;
}
.feature-image{
    display: flex;
    margin: 70px 100px ;
}
.costom-image{
    background-color: rgb(229, 220, 210) ;
    border-radius: 250px 250px 0 0;
    align-items: center;
    margin: 30px 20px;
    width: 400px;
    height: 450px;
}
.costom-image img{
    width: 350px;
    height: 350px;
    margin-top: 100px;
}
.costom-image-2{
    background-color: rgb(159, 196, 175) ;
    border-radius: 250px 250px 0 0;
    align-items: center;
    margin: 30px 20px;
    width: 400px;
    height: 450px;
}
.costom-image-2 img{
    width: 350px;
    height: 350px;
    margin-top: 100px;
}
.costom-image-3{
    background-color: rgb(129, 186, 186) ;
    border-radius: 250px 250px 0 0;
    align-items: center;
    margin: 30px 20px;
    width: 400px;
    height: 450px;
}
.costom-image-3 img{
    width: 350px;
    height: 350px;
    margin-top: 100px;
}

.card-text{
    font-size: 20px;
    font-weight: 500;
}
/* informetion-section */
.informetion-section{
    display: flex;
    background-color: rgb(220, 213, 203);
    margin: 60px 120px;
}
.information-row{
    text-align: center;
    padding: 70px 40px;
}
.information-row h3{
    color: #585354;
    margin-top: 15px;

}

/* ================= */
.flower-shop{
    margin: 60px 86px;
    text-align: center;
}
.product{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.product-details{
    margin:25px 12px;
    width: 300px;
    height: 380px;
    background: #d2caca;
    border-radius: 15px;
    text-align: left;
}
.single-product {
    padding: 25px;
    
}
.single-product h3{
    font-size: 20px;
    font-weight: 300;
}
.single-product img{
    max-width: 250px;
    border-radius: 20px;
}


   /* Discount Section */
.offer-section{
    display: flex;
    justify-content: space-between;
    background-color: #eae4e4;
    padding: 50px 300px;
}
.discount-massage{
    text-align: center;
    max-width: 550px;
    margin-top: 150px;
}
.discount-massage h1{
    font-size: 32px;
}
.discount-massage h1 span{
    color: red;
}
.discount-massage p{
    color:#585354;
    margin-top: 15px;
}
.discount-massage button{
    margin-top: 30px;
}
.offer-item img{
    width: 280px;
}
.classic-btn{
    padding: 12px 30px;
    background-color: #4CAF50;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: 0.2s;
}
.classic-btn:hover{
    background: #ff6f61;
}
 /* instragram section */
.instragram{
    text-align: center;
    margin: 100px 100px 50px 100px;
}
.instragram h1{
    font-size: 35px;
}
.instragram p{
    color: #757575;
    margin-top: 18px;
}
.instragram-images{
    margin-top: 50px;
}
.instragram-images img{
    margin: 8px;
    width: 280px;
}
/* subscribe-section */
.subscribe-section{
    margin: 10px 170px;
    text-align: center;
    padding: 100px;
    background-image: url("images/Rectangle\ 9.png");
    background-size: cover;
    background-position: center;
}
.add-coupon{
    margin-top: 20px;
}
.add-coupon input{
    height: 45px;
    width: 450px;
    padding: 0 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
.add-coupon input:hover{
    border: 1px solid black;
}
.add-coupon button{
    padding: 15px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}
.add-coupon button:hover{
    background: #088178;
}
.subscribe-section h2{
    font-size: 35px;
    font-weight: 300;
}
.subscribe-section p{
    font-weight: 300;
    color: #757575;
}

/* footer section */
.footer-section{
    background-color: black;
    color: #fff;
    text-align: center;
    margin-top: 70px;
}
.footer-style{
    max-width: 600px;
    padding: 100px 400px;
}
.footer-style h1{
    font-size: 45px;
    font-weight: 300;
}
.footer-style h1 span{
    color: chocolate;

}
.footer-style h4{
    color: #757575;
    margin-top: 20px;
}